---
import BaseLayout from "@layouts/BaseLayout.astro";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true })
);
---

<BaseLayout>
    hi,
    <input type="color" />

    <div>posts</div>
    {
        allPosts.map((post: any) => (
            <div>
                <a href={post.url}>{post.frontmatter.title}</a>
            </div>
        ))
    }
</BaseLayout>
