---
import Time from "@components/Time.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true })
);
---

<BaseLayout>
    <div>hi,</div>
    <label for="color-select">Select color:</label>
    <input type="color" name="color-select" value="#db8e94" />
    <div>{Date()}</div>
    <Time />
    <br />
    <div>posts</div>
    {
        allPosts.map((post: any) => (
            <div>
                <a href={post.url}>{post.frontmatter.title}</a>
            </div>
        ))
    }
</BaseLayout>
