---
import BaseLayout from "@layouts/BaseLayout.astro";

const allPosts = Object.values(
    import.meta.glob("./post/*.md", { eager: true })
);
---

<BaseLayout
    >{
        allPosts.map((post: any) => (
            <a href={post.url}>{post.frontmatter.title}</a>
        ))
    }</BaseLayout
>
