---

---

<div>
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/post">post</a>
</div>

<style>
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: #db8e94;
    }
</style>
