---

---

<div>
    <a href="/">/(home)</a>
    <a href="/about">/about</a>
    <a href="/rss.xml">/rss</a>
    <a href="https://github.com/yunnogasai" target="_blank">/github</a>
</div>
<style>
    div {
        display: flex;
        justify-content: center;
    }
    a {
        width: 17%;
        text-decoration: none;
        text-align: center;
        color: black;
    }
    a:hover {
        color: #db8e94;
    }
</style>
