---
import "../styles/base.css";
import { ClientRouter } from "astro:transitions";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/yunogasai.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Yunogasai</title>
        <ClientRouter />
    </head>
    <body>
        <Navigation />
        <slot />
    </body>
</html>
