---
import "@styles/base.css";
import { ClientRouter } from "astro:transitions";
import Navigation from "@components/Navigation.astro";
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{frontmatter.title}</title>
        <ClientRouter />
    </head>
    <body>
        <Navigation />
        <slot />
    </body>
</html>
