---
import "@styles/base.css";
import "@styles/md.css";

import { ClientRouter } from "astro:transitions";
import Navigation from "@components/Navigation.astro";

const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{frontmatter.title}</title>
        <style>
            div {
                margin-left: 7px;
                margin-right: 7px;
            }
        </style>
        <ClientRouter />
    </head>
    <body>
        <Navigation />
        <div>
            <slot />
        </div>
    </body>
</html>
