---
import "../styles/base.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/yunogasai.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Yunogasai</title>
    </head>
    <body>
        <h1>yunogasai</h1>
        <img
            src="/yunogasai.svg"
            alt="yunogasai"
            width="52.1px"
            height="52.1px"
        />
    </body>
</html>
